@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=font-playfair+Script&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #222b3a;
  }

  body {
    @apply font-playfair;
    max-width: 100vw;
    background-color: #222b3a;
  }

  .text-shadow {
    text-shadow: 0 8px 16px rgba(10, 10, 10, 0.991);
  }
  .bg-gray {
    background: linear-gradient(
      to bottom,
      #7d7d7d 0%,
      /* Dark Grey */ #d3d3d3 100% /* Light Grey */
    );
  }
}
@layer components {
  .background {
    background: linear-gradient(
      to bottom,
      /* Vertical gradient for sidebar */ #0d1b26,
      /* Dark blue at the top */ #0a1620 40%,
      /* Deeper blue near the middle */ black 100%
        /* Transitioning to full black at the bottom */
    );
    background-color: #1a202c; /* Fallback dark base color */
    color: white;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.8); /* Sidebar shadow for depth */
    text-shadow: 0 8px 16px rgba(0, 0, 0, 0.9); /* Stronger text shadow */
  }
  .bg-main {
    background: linear-gradient(
      to bottom,
      #f0f4f8,
      /* Light grey-blue at the top */ #e6ebef 50%,
      /* Soft grey in the middle */ #dce2e8 100% /* Faded grey at the bottom */
    );
  }
  .background {
    background: radial-gradient(
        ellipse farthest-corner at right bottom,
        #142b3d 8%,
        #102331 30%,
        #142b3d 40%,
        transparent 80%
      ),
      radial-gradient(
        ellipse farthest-corner at left top,
        #768a9d 8%,
        #526a80 25%,
        #1d3d55 62.5%,
        #1d3d55 100%
      );
    color: white;

    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.643);

    text-shadow: 0 8px 16px rgba(10, 10, 10, 0.991);
  }
}
